<div class="brand">Sample Website</div>

<div class="address-bar">123 Address Place | Beverly Hills, CA 90210 | 123.456.7890</div>

<!-- Navigation -->
<ma-main-navbar>
</ma-main-navbar>

<div class="container">
    <ma-main-carousel>
    </ma-main-carousel>

    <ma-build-website>
    </ma-build-website>

    <ma-showcase-boxes>
    </ma-showcase-boxes>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Steve Henry 2015</p>
            </div>
        </div>
    </div>
</footer>